<IfModule mod_rewrite.c>
					   RewriteEngine on
					   RewriteCond %{REQUEST_FILENAME} !-f
					   RewriteCond %{REQUEST_FILENAME} !-d
					   RewriteBase /www.xiaoyulive.top/
					   RewriteRule . /www.xiaoyulive.top/index.php [L]
					</IfModule>